/* *{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Dosis','sans-serif';
}

#Footer {
    margin-top: 15rem;
    margin: auto;
    padding: 2.1rem 0;
    background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(11, 132, 145) 91.1%);
    color: #fff;
    border-top-left-radius: 125px;
   
   
  }
  
  .ft-1 h3 {
    font-weight: 700;
    font-family: 'Dosis','sans-serif';
    letter-spacing: 2px;
    padding: 0.5rem 0;
  }
  
  .ft-1 span {
    color: #f67f08;
  }
  
  .ft-1 p {
    margin: auto;
    font-weight: 500;
  }
  
  .footer-icons i {
    padding: 0.4rem 0.5rem;
    background: #e1e1e1;
    color: #f65f08;
    margin: 0 0.5rem;
    border-radius: 50%;
  }
  
  .footer-icons i:hover {
    background: #f65f08;
    color: #fff;
    transition: 0.6s;
    cursor: pointer;
  }
  
  .Footer h5 {
    color: #f65f08;
  }
  
  .ft-2 ul {
    list-style: none;
    padding-left: 0;
  }
  
  .ft-2 ul li {
    padding: 0.32rem 0;
    font-weight: 500;
  }
  
  .ft-2 ul a {
    text-decoration: none;
    color: #f6f3f3;
    font-size: 1.09rem;
  }
  
  .ft-3 p {
    font-weight: 500;
    padding: 0.1rem 0;
    font-size: 1.06rem;
  }
  
  .ft-3 i {
    padding-right: 0.5rem;
  }
  
  .Last-footer {
    height: 2.8rem;
    margin: auto;
    overflow: hidden;
    background: #f65f08;
    text-align: center;
    
    border-bottom-right-radius: 125px;
  }
  
  .Last-footer p {
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: 700;
  }
  .f-2{
    font-size: 1rem;
    color: black;
  }
  .f-1{
    font-size: 1.5rem;
    color: rgb(61, 40, 3);
  }
 
  
  .underline{
    width:30%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: relative;
    top: 1px;
    left: 0;
    overflow: hidden;
    margin: auto;
  
  }
  .underline span{
    width: 27%;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 70%;
    animation: moving 2s linear infinite;
  }
  @keyframes moving {
    0%{
        left: -20px;
    }
    0%{
        left: -20px;
    }
    
  }
  */
  .text-resets{
    text-decoration: none;
}
#foots{
    background-color:	#666666;
    /* background-color:rgba(49, 49, 49, 0.911); */
    padding: 0%;
    width:100%;
    margin-top: 20px;
    opacity: 0.8;
    color: black;
}
#spans{
   padding: 20px;
}
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
#footers{
    padding: 0%;
    margin: 0%;
    width: 100%;
    color: white;
}
.foot2s,.footends,.footlinks{
    color: white;
}