* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

#quote {
  margin: 15px;
}
#left {
  margin: auto;
  margin-left: 0%;
}
#left h1,
p {
  padding: 12px;
}
h1 {
  font-family: "Dosis", sans-serif;
}
#left p {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}
h4 {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}
#right p {
  font-family: "Dosis", sans-serif;
}

#creative {
  font-style: oblique;
  color: rgb(255, 85, 0);
  font-weight: 900;
}

.btn-grad {
  margin: auto;
  background-image: linear-gradient(
    to right,
    #f5c683 0%,
     #d37d1b 51%,
     #f5c683 100%
  );
   color: white;
  
  border: none;
  padding: 5px 35px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
 

  border-radius: 5px 25px;
  display: block;
}

.btn-grad:hover {
  /* background-position: right center; */
  color: #fff;
  text-decoration: none;
}

/* img{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    ali-shadow: 2px 3px 5px 5px #ee11d0;
  } */

#right {
  margin: auto;
}
#right * {
  padding: 12px;
}
#right h4 {
  color: rgb(207, 15, 79);
  margin-left: 26%;
}
.wearecreativeagency{
  text-align: center;
  text-transform: uppercase;
  /* text-decoration: underline; */
  font-weight: bolder;
  font-size: larger;
}

