* {
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
}

.testimonial-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Make sure the container takes the full height */
}

/* .testimonial-moving-background {
  background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
  background-size: 800rem 600px;
  outline: none;
  border: none;
  box-shadow: 2px 2px 10px black;
  background-repeat: no-repeat;
  animation: testimonial-color 30s ease-in-out infinite;
  opacity: 0.4;
  z-index: -1;
  position: relative;
  height: 250px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  width: 100%;
} */

/* @keyframes testimonial-color {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
} */

.fa-beat {
  color: #419141;
  font-size: 3rem;
}

.testimonial-num,
.testimonial-text,
.testimonial-container,
.testimonial-col {
  font-weight: bolder;
  font-size: 2rem;
}

.testimonial-num {
  color: #f4f6f6;
  display: grid;
  place-items: center;
}

.testimonial-text {
  color: #f7f4f4;
  font-size: 2.5rem;
  text-align: center;
  padding: 0.7em 0;
  font-weight: 600;
  line-height: 0;
  opacity: 5;
  margin-bottom: 10px;
  margin-left: 0;
  z-index: 4;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  text-align: center;
  background-color: rgb(86, 9, 9);
}

.testimonial-col {
  
  margin-top: 24px;
  
  text-align: center;
}
.col{
  margin: 80px;
}

/* Media query for screens smaller than 768px (typical mobile screens) */
@media (max-width: 768px) {
  .testimonial-moving-background {
    background-size: 100% 300px;
    opacity: 0.7;
  }

  .testimonial-container {
    text-align: center;
    margin-top: 16px;
  }

  .testimonial-col {
    margin-top: 16px;
  }

  .testimonial-container {
    flex-direction: column-reverse;
  }
}

/* Media query for screens between 769px and 1024px (typical tablet screens) */
@media (min-width: 769px) and (max-width: 1024px) {
  .testimonial-moving-background {
    background-size: 100% 400px;
    opacity: 0.6;
  }

  .testimonial-container {
    flex-direction: row;
    justify-content: space-around;
    margin-right: 16px;
  }

  .testimonial-col {
    margin-top: 24px;
    margin-right: 16px;
  }

  .testimonial-col:last-child {
    margin-right: 0;
  }
}









/* Media query for screens larger than 1024px (typical laptop and above screens) */
/* @media (min-width: 1025px) {
  .container {
    flex-direction: row;
    justify-content: space-around; 
  }

  .col {
    margin-top: 24px;
    margin-right: 16px;
  }

  .col:last-child {
    margin-right: 0;
  }
} */

/* Rearrange the order of columns for mobile view */
@media (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }
}
